body{
    background-color: rgba(119, 136, 153, 0.719);
}

#portada{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
}

#portada img{
    border-radius: 50%;
    background-color: black;
    padding: 2px;
}

